@using Warehouses.Entities;
@using System.Collections.Generic;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Warehouse>
@{
    Layout = "_Layout";
}

<div>
    <h1>@ViewData["test"]</h1>

    <select class="form-select" onchange="OnChange();" id="select">
        <option selected>Выбрать склад</option>

        @foreach (var item in Model)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>

    @{
        var warehouse = Model.FirstOrDefault();

        if (warehouse == null)
        {
            return;
        }
    }
</div>

<script>
    function OnChange() {
        location.href = "/" + document.getElementById("select").;
    }

</script>